{% extends "registration/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'registration/css/form.css' %}">
  {{ block.super }}
{% endblock %}


{% block main %}
  <div class="flex justify-center items-center min-h-screen bg-gray-300">
    <div class="w-full max-w-md p-6 bg-white shadow-lg rounded-lg text-center">
      <h2 class="text-3xl md:text-4xl font-extrabold mb-6 text-[#3C46FF]">
        パスワード再設定
      </h2>
      {% if validlink %}
        <div class="mt-4">
          {% include "registration/_form.html" with submit_label="変更" %}
        </div>
      {% else %}
        <p class="text-gray-700">無効なリンクです。</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
