{% extends "registration/base.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'registration/css/form.css' %}">
  {{ block.super }}
{% endblock %}

{% block main %}
  <div class="flex justify-center items-center min-h-screen bg-gray-300">
    <div class="p-4 w-full max-w-md">
      <h2 class="text-3xl md:text-4xl font-extrabold mb-8 text-[#3C46FF] text-center">
        パスワード再設定
      </h2>
      {% include "registration/_form.html" with submit_label="変更" %}
    </div>
  </div>
{% endblock %}
